[Unit]
Description=Feeds instance (%i)
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/feeds/%i.env
ExecStart=/bin/bash -c '/opt/hft/bin/feeds $ARGS'
Restart=always

[Install]
WantedBy=multi-user.target
