[Unit]
Description=Procstat instance (%i)
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/procstat/%i.env
ExecStart=/bin/bash -c '/opt/hft/bin/procstat $ARGS'
Restart=always

[Install]
WantedBy=multi-user.target
